
/* reset */
button {
	all: unset;
}

.icon {
    color: green
}

.CheckboxRoot {
	background-color: white;
	width: 30px;
	height: 30px;
	border-radius: 50px;
    border: 2px solid rgb(162, 160, 160); 
	display: flex;
	align-items: center;
    justify-content: center;
    margin-right: 15px;
	cursor: pointer
}

.checkbox-done {
	border-color: green
}
.CheckboxRoot:hover {
	background-color: white;
}

.CheckboxIndicator {
	color: var(--violet-11);
}

